* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
}
body {
  padding: 20px;
  min-height: 100vh;
  background-image: url('./assets/errc-wallpaper.webp');
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

table {
  border-collapse: collapse;
  width: 99%;
}

td,th {
  width: 9%;
  padding-left : 7px;
  padding-right : 7px;
  border-right: dotted 1px;
  border-left: dotted 1px;
  border-bottom: dotted 1px;
}

button {
  background : inherit;
  display: inline-block;
  width: 25%;
  margin: 10px;
  padding: 10px 30px;
  font-size: 18px;
  border-top: double 5px;
  border-bottom: solid 1px;
  border-right: none;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 20px;
}

button:hover {
  color: #0f0f0f;
  font-size: 24px;
  border-top: none;
  border-bottom: none;
  border-right: solid 5px;
  border-left: solid 5px;
  border-radius : 20px;
}

.shiftIdContainer{
  margin: 0px;
  padding: 0px;
  display: flex;
  font-size: large;
}
.shiftIdMember{
  display: inline-block;
  font-size: 18px;
  margin: 5px auto;
  padding: 5px;
  border-bottom: 2px solid;
}

.LogoutButton{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10%;
  padding: .5em;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-top: none;
  border-top-left-radius: 20px;
}
.NameP{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15%;
  padding: .5em;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.LoginFormContainer{
   display: block;
   font-size: xx-large;
   border: solid 3px;
   margin: 1% auto;
   padding: 1%;
}
.LoginFormInput{
   display: block;
   width: 50%;
   font-size: 20px;
   padding: .5em;
   margin: .3em auto;
   background-color:beige;
   border: solid 3px;
}

::placeholder{
  color: darkseagreen;
}
.searchBarContainer{
  display: block;
  padding: .1em;
  margin: 10px auto;
}
.searchBarView{
  display: flex;
  padding: .1em;
}
.searchBarViewMember{
  display: inline-block;
  font-size: 20px;
  margin: 20px auto;
  width: 40%;
  background-color: inherit;
  border-left: solid 5px;
  border-right: solid 5px;
  border-bottom: solid 5px;
  border-top: none;
  border-bottom-left-radius : 20px;
  border-bottom-right-radius : 20px;
}
.insertField{
  display: block;
  background-color: transparent;
  font-size: 24px;
  width: 70%;
  padding: .1em;
  margin: .1em auto;
}
.problemFormContainer{
  display: block;
  font-size: x-large;
  border-top: solid 2px;
  border-bottom: solid 9px;
  margin: 1% auto;
  padding: 1%;
}
.problemFormTimeBlock{
  display: inline-block;
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-right: 3%;
  margin-left: 3%;
}
.problemFormTimeInput{
  display: inline-block;
  font-size: 20px;
  margin: .1em auto;
  width: 60%;
  background-color:lightyellow;
  border-radius: 20px;
}
.problemFormTimeLabel{
  display: inline-block;
  width: 35%;
  padding: .1em;
  margin: .1em auto;
}
.problemFormButton {
  display: block;
  border-right: 2px solid;
  border-radius: 20px;
  width: 50%;
  margin: 10px auto;
}
.problemFormH:hover{
  border-left: 2px solid;
  border-top: 7px solid;
}
.problemFormText{
  font-size: x-large;
  width: 90%;
  background-color: blanchedalmond;
}

.LongListButton{
  background : inherit;
  display: block;
  width: 90%;
  margin: 10px;
  padding: 5px;
  font-size: 10px;
  border-top: dotted 2px;
  border-bottom: double 1px;
  border-right: none;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 3px;
}
.LongListButton:hover {
  color: #0f0f0f;
  font-size: 10px;
  border-top: none;
  border-bottom: none;
  border-right: dotted 2px;
  border-left: dotted 2px;
  border-radius : 20px;
}
