* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

body {
  padding: 20px;
  min-height: 100vh;
  background-image: url('./assets/errc-wallpaper.webp');
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: gray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button,
input {
  display: inline-block;
  width: 350px;
  margin: 20px auto;
  padding: 10px 45px;
  background-size: 15px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

button {
  background-color: rgb(97, 62, 252);
  color:#f6f6f6;
  cursor: pointer;
}

button:hover {
  background-color:#f6f6f6;
  color: #0f0f0f;
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

.shiftIdContainer{
  margin: 0px;
  padding: 0px;
  display: flex;
  font-size: large;
}
.shiftIdMember{
  display: inline-block;
  margin: 0px auto;
  padding: .5em;
  border: 2px solid;
  border-bottom-left-radius: 20px;
}

.LogoutButton{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  width: 10%;
  padding: .5em;
  margin: .3em auto;
  border: 2px solid;
  border-color: black;
  color: black;
  border-top-left-radius: 20px;
}
.NameP{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  width: 15%;
  padding: .5em;
  margin: .3em auto;
  border: 2px solid;
  border-color: black;
  color: black;
  border-top-right-radius: 20px;
}
.LoginFormContainer{
   display: block;
   font-size: xx-large;
   border: solid 3px;
   margin: 5% auto;
   padding: 5%;
}
.LoginFormInput{
   display: block;
   padding: .5em;
   margin: .3em auto;
   background-color:beige;
   border: solid 3px;
}

::placeholder{
  color: black;
}
.searchBarContainer{
  display: block;
  padding: .1em;
  margin: .2em auto;
  border: solid 3px;
}
.searchBarView{
  display: flex;
  padding: .1em;
  margin: .3em auto;
}
.searchBarViewMember{
  display: inline-block;
  font-size: 20px;
  margin: .1em auto;
  width: 40%;
  background-color:lightyellow;
  color: black;
  border: solid 3px;
}
.insertField{
  display: block;
  background-color: transparent;
  font-size: 24px;
  width: 70%;
  padding: .1em;
  margin: .1em auto;
}
